@import "config.scss";

.cart__main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: $max-width;
  margin: 0 auto;
}

.cart__header {
  font-family: $font-heading;
  font-size: 2rem;
}

.cart__title {
  font-family: $font-heading;
}

.cart__cards {
  display: flex;
  flex-direction: row;
}

.cart__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2 * $gutter;
}

.cart__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cart__top {

}
.cart__middle {

}

.cart__bottom {

}

.cart__text {
  font-family: $font-main;
}

.cart__verd {
  font-size: 1.5rem;
  font-weight: bold;
}

.cart__label {
  font-family: $font-main;
}

.cart__input {
  height: 2 * $gutter;
}

.cart__button {
  display: flex;
  justify-content: center;
  padding-bottom: 2 * $gutter;
  margin: 0 auto;
}
