@import "config.scss";

.course__content {
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.course__row {
margin-bottom: $gutter * 2;
}

.course__col {
	display: flex;
	flex-direction: column;
}

.course__text {}

.course__title {
  font-family: $font-heading;
}

.course__text {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.course__paragraph {}

.course__image {
  display: flex;
 flex-direction: column;
  width: 100%;
}

.course__img {
  width: 100%;
}

.course__form {
	
}

.form__row .form__col .form__fieldset {
  border: 0;
  margin: $gutter * 3;

}

.form__legend {

}

.form__field {

}

.field {

}

.field__label {
  font-family: $font-main;
}

.field__input {
padding: 0%;
width: auto;
border: 1px $svartur;
border-radius: 3px;
}

.field__select {

}

.course__button {
		display: flex;
		justify-content: center;
		padding-bottom: 2 * $gutter;
		margin: 0 auto;
}
