@import "config.scss";

.course__content{
font-family: $font-main;
}

.course__row{
	display: flex;
	flex-wrap: wrap;
}

.course__col{
	
}

.course__text{
	
}

.course__title{
font-family: Oswald;
}

.course__paragraph{
	
}

.course__image{
 align-self: flex-end;
}

.course__img{
	
}

.course__form{
	justify-content: center;
}