@import "config.scss";

.footer {
  width: 100%;
  background-color: $blar;
  padding-bottom: $gutter;

  &__content {
    max-width: $max-width;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__col {
    @include columns (12);
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: $gutter 0 0;
    font-family: $font-heading;
  }

  &__list {
    list-style: none;
  }

  &__tag {
    margin-top: $gutter;
  }

  &__link {
    color: $hvitur;
    text-decoration: none;
    transition: color $transition;
    font-family: $font-main;
  }

  &__link:hover {
    color: $svartur;
  }

  &__bottom {
    text-align: center;
    margin: $gutter 0 0;
  }
}
