@import "config.scss";

$blar: #00b7ff;
$hvitur: #fffcf2;
$svartur: #000000;



footer {
  display: flex;
  width: 100vw;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $blar;
  align-items: center;
}

.footer__content {
  max-width: $max-width;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  list-style-type: none;
  padding-bottom: $gutter;
}

.footer__cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: $gutter;
}

.footer__card {
  display: flex;
  flex-direction: row;
  padding-right: $gutter;
}

.footer__link {
  color: $hvitur;
  text-decoration: none;
}

.footer__link:hover {
  color: $svartur;
}
