@import "config.scss";

.forsida__row {
  display: flex;
  flex-direction: column;
}

.forsida__col {
  width: 100%;
}

.forsida__content {
  text-align: center;
}

.forsida__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
