@import "config.scss";



.forsida__row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.forsida__col {
  width: 100%;
}


.forsida__cards1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.forsida__cards2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.forsida__image {
  align-items: center;
}
