@import "config.scss";


.front__main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: $max-width;
}

.front {
  display: flex;
  align-items: center;

&__test{
  display: flex;

}

&__content {
  @include columns (12);
  flex-direction: row;

}

&__card {
  display: flex;
  flex-direction: column;
}

&__reversed {
  margin-top: 2 * $gutter;
  flex-direction: row-reverse;
}

&__title {
  font-family: $font-heading;
  margin-bottom: 2 * $gutter;
}

&__text {
  font-family: $font-heading;
  margin-bottom: 2 * $gutter;
}

&__img {
  @include columns (12);
}

&__button {

}

}
