$max-width: 1200px;

.grid__main {
  max-width: $max-width;
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
}
  .grid__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $gutter 0 0;
    margin: 0 10px;
  }

  .grid__col {
    width: 100%;
    padding: 0 10px;
  }
