@import "config.scss";

.header {
  background-color: $appelsinugulur;
  margin-bottom: 2 * $gutter;

  &__content {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    margin: $gutter 0;
    font-family: $font-heading;
  }

  &__pages {

  }
}

.list {
  margin: $gutter 0;

  &__row {
    flex-wrap: wrap;
  }

  &__tags {
    @include columns (12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
  }

  &__tag {
    display: flex;
    padding-left: $gutter;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $svartur;
    font-family: $font-main;
    font-weight: bold;
  }

  &__cart {
    @include columns(12);
    display: flex;
    justify-content: flex-end;
  }

  &__cart__link {
    display: flex;
    text-decoration: none;
    color: $svartur;
    font-family: $font-main;
  }

  &__cart__img {
    padding-right: 10px;
    text-decoration: none;
  }
}
