@import "config.scss";
$appelsinugulur: #ff5000;
$svartur: #000000;
$hvitur: #fffcf2;

 header {
  display: flex;
  width: 100vw;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $appelsinugulur;
}


.header__content {
  max-width: $max-width/$gutter;
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  list-style-type: none;
  padding-bottom: $gutter;
}

.header__title {
  display: flex;
  justify-content: center;
  padding-bottom: $gutter;
}

.header__link {
  text-decoration: none;
  color: $svartur;
}

.header__link:hover {
  color: $hvitur;
}
