@import "config.scss";

.products__content{
display: flex;
flex-direction: column;
}

.products__row {
}

.products__col {
  width: 100%;
}

.products__card--top {
  display: flex;
  flex-direction: row;
  justify-content: center
  align-items: flex-start;
}

.products__card--bottom{

}
.products__image{
display: flex;
justify-content:space-between;
}

.products__form {
	
}

.products__text {
	
}

.products__verd {
	font-weight: bold;
}

.products__title {

}
