@import "config.scss";

.products__content{
display: flex;
flex-direction: column;
max-width: 1200px;
}

.products__row {
  width: 100%;
}

.products__col {
width: 100%;
}

.products__card1{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.products__card2{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.products__card {
display: flex;
flex-direction: column;
flex-wrap: wrap;

}

.products__image{
display: flex;
//flex-direction: row;

}

.products__form {

}

.products__text {
	
}

.products__verd {
	font-weight: bold;
}

.products__title {

}
