@import "config.scss";

.staff {
  max-width: $max-width;
  margin: 0 auto;

  &__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: $max-width;
    margin: 0 auto;
  }
  &__row {
    display: flex;
    margin-bottom: $gutter * 2;
    flex-wrap: wrap;
  
  }

  &__col {
    @include columns(12);
    display: flex;
    flex-direction: column;
  }

  &__cards {
    .employee {
      position: relative;
      overflow: hidden;
    }
      &::before {
        display: block;
        padding-top: 150%;
        content: "";
      }
  }

  &__card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: transform $transition;
    transform-style: preserve-3d;
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
   
  }

  &__behind {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: $font-heading;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: $gutter;
  }

  &__text {
    font-family: $font-main;
    font-size: 1rem;
  }

  &__image {}
}
